# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log
node_modules/

# Logs
logs
*.log

# IDEs and editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.project
.classpath
*.launch
.settings/

# Environment
.env
.env.*
!.env.example

# System files
.DS_Store
Thumbs.db
